# Zewnętrzna sieć docker, gdzie działa stack Elasticsearch/Kibana
ELASTIC_NETWORK=elasticsearch_elastic

# Opcjonalnie: msgraph-token-refresh (profile: msgraph-secret lub msgraph-cert)
TENANT_ID=
CLIENT_ID=
MSGRAPH_CERT_THUMBPRINT=
GRAPH_URL=https://graph.microsoft.com
REFRESH_SECONDS=3300
